*.diff
*.patch
*.orig
*.rej
*.gz
.vscode/
build/

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/configure.log

.DS_Store

win32/.vs/

win32/Debug/
win32/Release/
win32/x64/
*.sdf
*.VC.opendb
*.suo
*.vcxproj.user

cmake_install.cmake
*.cbp
CTestTestfile.cmake
CMakeCache.txt
zconf.h.included
Makefile
staticbuild/CMakeFiles
*.so
staticbuild/zlib.pc
staticbuild/zconf.h

