[submodule "depends/json-c"]
	path = depends/json-c
	url = https://github.com/ShadowsocksR-Live/json-c.git
[submodule "depends/pthreads4w"]
	path = depends/pthreads4w
	url = https://github.com/ShadowsocksR-Live/pthreads4w.git
[submodule "depends/openssl"]
	path = depends/openssl
	url = https://github.com/ShadowsocksR-Live/openssl.git
[submodule "depends/libsodium"]
	path = depends/libsodium
	url = https://github.com/ShadowsocksR-Live/libsodium.git
[submodule "depends/libuv"]
	path = depends/libuv
	url = https://github.com/ShadowsocksR-Live/libuv.git
