[submodule "depends/libuv"]
	path = depends/libuv
	url = https://github.com/libuv/libuv.git
[submodule "depends/pcre4w"]
	path = depends/pcre4w
	url = https://github.com/ShadowsocksR-Live/pcre4w.git
[submodule "depends/json-c"]
	path = depends/json-c
	url = https://github.com/ShadowsocksR-Live/json-c.git
[submodule "depends/pthreads4w"]
	path = depends/pthreads4w
	url = https://github.com/ShadowsocksR-Live/pthreads4w.git
