*.obj
*.dll.manifest
*.dll
*.exe.manifest
*.exe
*.lib
*.pdb
*.ilk
*.exp
*.suo
.vscode/
.dist/
build/

version.res
tests/*.pass
tests/*.bench
tests/pthread.h
tests/sched.h
tests/semaphore.h
tests/benchlib.o
tests/SIZES.*
tests/*.log

win32/Debug/
win32/Release/
win32/x64/
win32/.vs/
win32/ipch/

*.sdf
*.vcxproj.user
tests/*.log
/.project

